include ../../templates/head
body.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed.wrapper
    include ../../templates/topbar
    include ../../templates/sidebar-guild
    .content-wrapper
        include ../../templates/breadcrumbs
        section.content.container-fluid
            include ../../templates/cookieBanner
            if saved
                .alert.alert-success.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-check
                        | Daten übernommen
                    | Deine Einstellungen wurden erfolgreich gespeichert.
            if saveFailure
                .alert.alert-danger.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-times
                        | Fehler beim Speichern
                    | Deine Einstellungen konnten nicht gespeichert werden. Bitte versuche es erneut, oder kontaktiere den Support.
            .callout.callout-info
                h5 Zusammenfassung
                p Konfiguriere allgemeine Einstellungen des Levelsystems.
            .card.card-default
                .card-header
                    h3.card-title Einstellungen
                    .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                            i.fas.fa-minus
                .card-body
                    .row
                        .col-md-6
                            form(action=`/dashboard/${guild.id}/levelsystem/general/save` method='post')
                                .form-check
                                    input.form-check-input(type='checkbox', autocomplete='off' name='status' id='statusCheck' data-form-type='other', checked=(guildData.settings.levels ? guildData.settings.levels.enabled : false))
                                    label.form-check-label(for='statusCheck' data-toggle="tooltip" data-placement="top" title="Aktiviere oder deaktiviere das Levelsystem") Aktiviert
                                br
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal, in dem die Level-Up-Nachricht gesendet wird") Kanal
                                    select.form-control(name="channel" autocomplete='off' class="selectpicker" data-live-search="true")
                                        option(value="current" selected=(guildData.settings.levels ? guildData.settings.levels.channel === null : false)) Aktueller Kanal
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.levels ? channel[1].id === guildData.settings.levels.channel : false)) #{channel[1].name}
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Schreibe die Level-Up-Nachricht, die gesendet wird") Nachricht
                                    input.form-control(name='message' autocomplete='off' type='text' value=(guildData.settings.levels.message ? guildData.settings.levels.message : ''))

                                -
                                    const variables = [
                                        {
                                            name: "Mitglied",
                                            value: "%user",
                                            description: "Erwähnt das Mitglied"
                                        },
                                        {
                                            name: "Nutzername Mitglied",
                                            value: "%user.name",
                                            description: "Der Nutzername des Mitglieds"
                                        },
                                        {
                                            name: "Anzeigename Mitglied",
                                            value: "%user.displayName",
                                            description: "Der Anzeigename des Mitglieds"
                                        },
                                        {
                                            name: "ID Mitglied",
                                            value: "%user.id",
                                            description: "ID des Mitglieds"
                                        },
                                        {
                                            name: "Servername",
                                            value: "%server",
                                            description: "Name des Servers"
                                        },
                                        {
                                            name: "Server ID",
                                            value: "%server.id",
                                            description: "ID des Servers"
                                        },
                                        {
                                            name: "Server Mitgliederzahl",
                                            value: "%server.memberCount",
                                            description: "Anzahl an Mitgliedern des Servers"
                                        },
                                        {
                                            name: "Level",
                                            value: "%level",
                                            description: "Gibt das neue Level aus"
                                        },
                                    ]
                                .form-group
                                    label Füge deine gewünschten Variablen einfach per Klick hinzu:
                                    br
                                    each variable in variables
                                        button.btn.btn-secondary.mr-2.mt-2.btn-variable(type="button" data-toggle="tooltip" data-placement="top" title=variable.description data-variable=variable.value) #{variable.name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Entscheide, wie viele XP mindestens pro Nachricht vergeben werden können") Minimale XP
                                    input.form-control(name='minxp' autocomplete='off' type='text' value=(guildData.settings.levels.xp.min ? guildData.settings.levels.xp.min : 1))
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Entscheide, wie viele XP maximal pro Nachricht vergeben werden können") Maximale XP
                                    input.form-control(name='maxxp' autocomplete='off' type='text' value=(guildData.settings.levels.xp.max ? guildData.settings.levels.xp.max : 30))
                                button.btn.btn-block.btn-primary(type='submit') Speichern

include ../../templates/footer

script.
    $("input[name='minxp'], input[name='maxxp']").TouchSpin({
        min: 1,
        max: 200,
        step: 1,
        decimals: 0,
        postfix: "XP"
    });

    $("input[name='minxp']").on('change', function () {
        const minVal = parseInt($(this).val());
        const maxInput = $("input[name='maxxp']");
        const maxVal = parseInt(maxInput.val());

        if (minVal >= maxVal) {
            maxInput.val(minVal + 1).trigger('change');
        }
    });

    $("input[name='maxxp']").on('change', function () {
        const maxVal = parseInt($(this).val());
        const minInput = $("input[name='minxp']");
        const minVal = parseInt(minInput.val());

        if (maxVal <= minVal) {
            minInput.val(maxVal - 1).trigger('change');
        }
    });

    $(".btn-variable").click(function () {
        const textarea = $("input[name='message']"),
            value = $(this).data("variable"),
            caretPos = textarea[0].selectionStart,
            textAreaTxt = textarea.val();

        textarea.val(textAreaTxt.substring(0, caretPos) + value + textAreaTxt.substring(caretPos))
            .focus()
            .prop('selectionStart', caretPos + value.length)
            .prop('selectionEnd', caretPos + value.length);
    });
