include ../templates/head
body.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed.wrapper
    include ../templates/topbar
    include ../templates/sidebar-guild
    .content-wrapper
        include ../templates/breadcrumbs
        section.content.container-fluid
            if saved === true
                .alert.alert-success.alert-dismissible
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-check
                        | Daten übernommen
                    | Die Einstellungen wurden erfolgreich gespeichert.
            .callout.callout-info
                h5 Erklärung
                p Die AI-gestützte Chatmoderation schätzt ein, ob eine Nachricht potenziell unangemessen ist. Dafür nutzt #{client.user.username} die Google Perspective API. Dort wird die Nachricht durch künstliche Intelligenz analysiert, und in verschiedenen Kategorien mit einer Punktzahl bewertet. Wird der individuell festgelegte Schwellenwert überschritten, sendet #{client.user.username} eine Warnung an die Moderatoren.
            .card.card-default
                .card-header
                    h3.card-title Einstellungen
                    .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                            i.fas.fa-minus
                .card-body
                    .row
                        .col-md-6
                            form(action=`/dashboard/${guild.id}/aimod/save` method='post')
                                .form-check
                                    input.form-check-input(type='checkbox', autocomplete='off' name='status' id='statusCheck' data-form-type='other', checked=(guildData.settings.aiModeration ? guildData.settings.aiModeration.enabled : false))
                                    label.form-check-label(for='statusCheck') Aktiviert
                                br
                                .form-group
                                    label Warn-Kanal
                                    select.form-control(name="alertChannel" autocomplete='off' class='selectpicker' data-live-search="true")
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.aiModeration ? channel[1].id === guildData.settings.aiModeration.alertChannel : false)) #{channel[1].name}
                                .form-group
                                    label Schwellenwert
                                    input.form-control(name='threshold' autocomplete='off' type='text' value=(guildData.settings.aiModeration.threshold ? guildData.settings.aiModeration.threshold : 0.6))

                                .form-group
                                    label Ignorierte Channel
                                    select.form-control(name="excludedChannels" autocomplete="off" class="selectpicker" multiple data-live-search="true")
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.aiModeration ? guildData.settings.aiModeration.excludedChannels.includes(channel[1].id) : false)) #{channel[1].name}

                                .form-group
                                    label Ignorierte Rollen
                                    select.form-control(name="excludedRoles" autocomplete="off" class="selectpicker" multiple data-live-search="true")
                                        each role in [...guild.roles.cache]
                                            option(value=role[1].id, selected=(guildData.settings.aiModeration ? guildData.settings.aiModeration.excludedRoles.includes(role[1].id) : false)) #{role[1].name}

                                button.btn.btn-block.btn-primary(type='submit') Speichern

include ../templates/footer

script.
    $("input[name='threshold']").TouchSpin({
        min: 0,
        max: 1.01,
        step: 0.1,
        decimals: 1
    });
