include ../templates/head
body.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed.wrapper
    include ../templates/topbar
    include ../templates/sidebar-guild
    .content-wrapper
        include ../templates/breadcrumbs
        section.content.container-fluid
            include ../templates/cookieBanner
            if saved
                .alert.alert-success.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-check
                        | Daten übernommen
                    | Deine Einstellungen wurden erfolgreich gespeichert.
            if saveFailure
                .alert.alert-danger.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-times
                        | Fehler beim Speichern
                    | Deine Einstellungen konnten nicht gespeichert werden. Bitte versuche es erneut, oder kontaktiere den Support.
            .callout.callout-info
                h5 Zusammenfassung
                p Behalte den Überblick über jegliche Ereignisse auf deinem Server.
            .card.card-default
                .card-header
                    h3.card-title Einstellungen
                    .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                            i.fas.fa-minus
                .card-body
                    .row
                        .col-md-6
                            form(action=`/dashboard/${guild.id}/logging/save` method='post')
                                .form-check
                                    input.form-check-input(type='checkbox', autocomplete='off' name='status' id='statusCheck' data-form-type='other', checked=(guildData.settings.logs ? guildData.settings.logs.enabled : false))
                                    label.form-check-label(for='statusCheck' data-toggle="tooltip" data-placement="top" title="Aktiviere oder deaktiviere das Logging") Aktiviert
                                br
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Moderations-Logs") Moderations-Logs
                                    select.form-control(name="moderation" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.moderation === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.moderation : false)) #{channel[1].name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Mitglieder-Logs") Mitglied-Logs
                                    select.form-control(name="member" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.member === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.member : false)) #{channel[1].name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Server-Logs") Server-Logs
                                    select.form-control(name="guild" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.guild === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.guild : false)) #{channel[1].name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Rollen-Logs") Rollen-Logs
                                    select.form-control(name="role" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.role === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.role : false)) #{channel[1].name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Thread-Logs") Thread-Logs
                                    select.form-control(name="thread" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.thread === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.thread : false)) #{channel[1].name}

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle den Kanal für Channel-Logs") Channel-Logs
                                    select.form-control(name="channel" autocomplete='off' class='selectpicker' data-live-search="true")
                                        option(value="null", selected=(guildData.settings.logs ? (guildData.settings.logs.channels.channel === null) : true)) Deaktivieren
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.logs ? channel[1].id === guildData.settings.logs.channels.channel : false)) #{channel[1].name}

                                button.btn.btn-block.btn-primary(type='submit') Speichern

include ../templates/footer