include ../templates/head
body.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed.wrapper
    include ../templates/topbar
    include ../templates/sidebar-guild
    .content-wrapper
        include ../templates/breadcrumbs
        section.content.container-fluid
            include ../templates/cookieBanner
            if saved === true
                .alert.alert-success.alert-dismissible
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-check
                        | Daten übernommen
                    | Die Einstellungen wurden erfolgreich gespeichert.
            .callout.callout-info
                h5 Erklärung
                p Die Willkommensnachricht begrüßt neue Mitglieder.
            .card.card-default
                .card-header
                    h3.card-title Einstellungen
                    .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                            i.fas.fa-minus
                .card-body
                    .row
                        .col-md-6
                            form(action=`/dashboard/${guild.id}/welcome/save` method='post')
                                .form-check
                                    input.form-check-input(type='checkbox', autocomplete='off' name='status' id='statusCheck' data-form-type='other', checked=(guildData.settings.welcome ? guildData.settings.welcome.enabled : false))
                                    label.form-check-label(for='statusCheck' data-toggle="tooltip" data-placement="top" title="Ob die Willkommensnachricht aktiviert oder deaktiviert ist") Aktiviert
                                br
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="In welchem Kanal die Willkommensnachricht gesendet wird") Begrüßungskanal
                                    select.form-control(name="channel" autocomplete='off' class='selectpicker' data-live-search="true")
                                        each channel in [...guild.channels.cache]
                                            if channel[1].type === 0
                                                option(value=channel[1].id, selected=(guildData.settings.welcome ? channel[1].id === guildData.settings.welcome.channel : false)) #{channel[1].name}
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Ob die Willkommensnachricht als Text oder Embed gesendet wird") Typ
                                    select.form-control(name="type" id="typeSelect" autocomplete="off" class="selectpicker")
                                        option(value="embed", selected=(guildData.settings.welcome ? guildData.settings.welcome.type === "embed" : false)) Embed
                                        option(value="text", selected=(guildData.settings.welcome ? guildData.settings.welcome.type === "text" : false)) Text

                                .form-group.form-check(id="profilepicture")
                                    input.form-check-input(type='checkbox', autocomplete='off' name='profilepicture' id='profilepictureCheck' data-form-type='other', checked=(guildData.settings.welcome ? guildData.settings.welcome.profilePicture : false))
                                    label.form-check-label(for='profilepictureCheck' data-toggle="tooltip" data-placement="top" title="Ob im Embed das Profilbild des Nutzers angezeigt wird") Profilbild im Embed anzeigen

                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Die Nachricht welche gesendet wird") Nachricht
                                    textarea.form-control(name='message' autocomplete='off' rows='3') #{guildData.settings.welcome ? guildData.settings.welcome.message : ""}

                                .card.card-default.collapsed-card
                                    .card-header
                                        h3.card-title Variablen
                                        .card-tools
                                            button.btn.btn-tool(type='button', data-card-widget='collapse')
                                                i.fas.fa-plus
                                    .card-body
                                        .row
                                            .col-md-12
                                                | Folgende Variablen können in der Nachricht verwendet werden:
                                                -
                                                    var variables = [
                                                        { code: '{user}', description: 'erwähnt das Mitglied' },
                                                        { code: '{user:username}', description: 'der Nutzername des Mitglieds' },
                                                        { code: '{user:displayname}', description: 'der Anzeigename des Mitglieds' },
                                                        { code: '{user:id}', description:'ID des Mitglieds' },
                                                        { code: '{server:name}', description: 'Name des Servers' },
                                                        { code: '{server:id}', description: 'ID des Servers' },
                                                        { code: '{server:membercount}', description: 'Anzahl an Mitgliedern des Servers' },
                                                        { code: '{inviter}', description: 'Erwähnt den Einladenden' },
                                                        { code: '{inviter:username}', description: 'der Nutzername des Einladenden' },
                                                        { code: '{inviter:displayname}', description: 'der Anzeigename des Einladenden' },
                                                        { code: '{inviter:id}', description: 'ID des Einladenden' },
                                                        { code: '{inviter:invites}', description: 'Anzahl der Einladungen des Einladenden' },
                                                        { code: '{newline}', description: 'Fügt eine neue Zeile ein' }
                                                    ]
                                                each variable in variables
                                                    div
                                                        code= variable.code
                                                        |  -
                                                        |  #{variable.description}

                                button.btn.btn-block.btn-primary(type='submit') Speichern
include ../templates/footer

script.
    document.addEventListener('DOMContentLoaded', () => {
        const typeSelector = document.getElementById('typeSelect');
        const embedOptions = document.getElementById('profilepicture');
        typeSelector.addEventListener('change', () => {
            embedOptions.style.display = typeSelector.value === 'embed' ? 'block' : 'none';
        });
        embedOptions.style.display = typeSelector.value === 'embed' ? 'block' : 'none';
    });